{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{ import axios, { AxiosResponse } from 'axios';}
{ import handleUpdate from 'edit-case';}
{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/get-cases",
    classes: "govuk-back-link"
  }) }}


{% endblock %}

{% block content %}

{% set editcase = editcase %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

  <h1 class="govuk-heading-xl">Update case</h1>

  <!-- The freedom is yours. You can design the solution however you like, however there is a starting point provided
  to ensure you have both services running. You may want to make use of the Gov UK Components:
  https://design-system.service.gov.uk/components/ to add tabs and so forth :) -->

<!-- Investigating why PUT is not functional -->
  <form action="/update-case" method="post" novalidate>
  {% if case.id %}
      {% if status == 200 and savedCase %}
         <h2 class="govuk-heading-x2" style="color: red"> Successfully updated case </h2>
      {% endif %}

    {{

    govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
      rows: [
        {
          key: {
            text: "ID"
          },
          value: {
            html: govukInput({
                         id: "id"+case.id,
                         name: "id",
                         value: case.id,
                         attributes: {readonly: "readonly"},
                         disabled: false
                       })
          }
        },
        {
          key: {
            text: "Case Number"
          },
          value: {
              html: govukInput({
                                           id: "caseNumber"+case.caseNumber,
                                           name: "caseNumber",
                                           value: case.caseNumber,
                                           attributes: { readonly: 'readonly' },
                                           disabled: false
                                         })

          }
        },
        {
          key: {
            text: "Title"
          },
          value: {
            html: govukInput({
                              id: "title"+case.id,
                              name: "title",
                              value: case.title,
                              spellcheck: true
                            })
          }
        },
        {
          key: {
            text: "Description"
          },
          value: {
            html: govukTextarea({
                                 name: "description",
                                 id: "descriptionId",
                                 label: {
                                   classes: "govuk-label--2",
                                   isPageHeading: false
                                 },
                                  hint: {
                                   text: "Do not include personal or financial information, like your National Insurance number or credit card details"
                                  },
                                  value: case.description
                               })
          }
        },
        {
                  key: {
                    text: "Status"
                  },
                  value: {
                  html: govukInput({
                                    id: "status"+case.id,
                                    name: "status",
                                    value: case.status
                                  })

                  }
        },
        {
          key: {
           text: "Created Date"
          },
          value: {
           name: "createdDate",
           html: case.createdDate,
           disabled: false
          }
        },
        {
          key: {
           text: "Updated Date"
          },
          value: {
           name: "modified",
           html: case.modified,
           disabled: false
          }
        }
      ]
    }) }}

  {% endif %}

        {% if readonly !== 'readonly' %}
              {{ govukButton({
                text: "Send"
              }) }}
        {% endif %}

        </form>
  </div>
</div>

{% endblock %}

